@import "~react-big-calendar/lib/sass/styles.scss";

/* 以下自訂 calendar 樣式 */
.rbc-month-view {
  .rbc-month-row {
    .rbc-row-bg {
      .rbc-day-bg {
        cursor: pointer;
        border-left: none;
        border-right: none;
        &.rbc-today {
          background: white;
        }
      }
      .rbc-day-bg:hover {
        background: #ebf0f4;
      }
    }
    .rbc-row-content {
      .rbc-row {
        align-items: start;
        .rbc-date-cell {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .rbc-month-row + .rbc-month-row {
    border-top: 1px solid #999999;
  }
}

.custom-date-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 0.3rem;
  & .today {
    background: #bf5858;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 100%;
  }
  & .holiday {
    color: #bf5858;
    font-weight: 700;
  }
}

.custom-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  .toolbar-button {
    background: unset;
    border: 0;
    cursor: pointer;
  }
}

/* 以上自訂 calendar 樣式 */
